@page "{id:int}"
@model net8store.Pages.CarModel
@using net8store.Core.Formatters
@{
  ViewData["Title"] = $"{Model.car.Brand} {Model.car.Model}";
}

<div class="bg-white border rounded-lg p-8 w-content mx-auto">
  <img src="@Model.car.ImageURL" class="rounded-md mb-7">
  <h1 class="text-3xl font-bold text-gray-800 mb-2">@ViewData["Title"]</h1>

  <div class="my-2">
    <h2 class="font-semibold text-gray-600">Описание</h2>
    <p class="text-gray-800">@Model.car.FullDescription</p>
  </div>
  <div>
    <h2 class="font-semibold text-gray-600">Об двигателе</h2>
    <p class="text-gray-800">
      <span class="font-medium text-gray-700">Тип:</span>
      @Model.car.EngineKind.Format(), @Model.car.EngineDescription
    </p>
  </div>
  <div>
    <ul>
      <li>
        <span class="font-medium text-gray-700">Разгон (0-100):</span>
        <span class="text-gray-800">@Model.car.Acceleration с.</span>
      </li>
      <li>
        <span class="font-medium text-gray-700">Максимальная скорость:</span>
        <span class="text-gray-800">@Model.car.TopSpeed км/ч</span>
      </li>
    </ul>
  </div>
</div>