@page "{currentPage:int=1}"
@using net8store.Core.Enums
@model IndexModel
@{
    ViewData["Title"] = "Главная";
}

<section class="w-content mx-auto">
    <h1 class="text-3xl pb-6">
        @if (Model.CurrentPage == 1) {
            @: Спорткары на любой вкус
        } else {
            @: Спорткары. Страница @Model.CurrentPage
        }
    </h1>
</section>

@if (Model.carsImages.Length != 0 && Model.CurrentPage == 1) {
    <section class="splide mb-3" aria-label="Cars">
        <div class="splide__track w-content mx-auto rounded-lg">
            <ul class="splide__list">
                @foreach (var carImage in Model.carsImages)
                {
                    <li class="splide__slide">
                        <img src="@carImage" />
                    </li>
                }
            </ul>
        </div>
    </section>
}

<div class="grid w-content mx-auto grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
    @foreach (var car in @Model.cars)
    {
        @: <product-card productid="@car.CarId" description="@car.ShortDescription" cost="@car.Cost руб." title="@car.Brand @car.Model" imageurl = "@car.ImageURL" enginekind="@((int)car.EngineKind)"></product-card>
    }
</div>

<div class="flex justify-center">
    <lit-paginator class="mt-8" currentpage=@Model.CurrentPage total="@Model.pagesAmount" />
</div>
